@model Banglafire_Solution_Ltd_Task.Models.Student
@{
    ViewBag.Title = "Edit";
}
<div class="card" style="background-color: lightblue">
    <div class="card-body">
        <div class="row">
            <div class="col-12  d-flex justify-content-center">
                @using (Html.BeginForm("Edit", "Students", FormMethod.Post))
                {
                    @Html.HiddenFor(x => x.StudentID)
                    <h3 class="text-center">Edit Student</h3>
                    if (!string.IsNullOrEmpty(ViewBag.Message))
                    {
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>Success!</strong> @ViewBag.Message
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <div class="form-group row mb-1">
                        @Html.LabelFor(x => x.StudentName, new { @class = "col-form-label col-form-label-sm " })
                        <div class="col-12">
                            @Html.TextBoxFor(x => x.StudentName, new { @class = "form-control form-control-sm" })
                            @Html.ValidationMessageFor(x => x.StudentName, "", new { @class = "text-danger", style = "font-size:x-small" })
                        </div>
                    </div>

                    <div class="form-group row mb-1">
                        @Html.LabelFor(x => x.DateOfBirth, new { @class = "col-form-label col-form-label-sm " })
                        <div class="col-12">
                            @Html.TextBoxFor(x => x.DateOfBirth, new { @class = "form-control form-control-sm" })
                            @Html.ValidationMessageFor(x => x.DateOfBirth, "", new { @class = "text-danger", style = "font-size:x-small" })
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        @Html.LabelFor(x => x.Class, new { @class = "col-form-label col-form-label-sm " })
                        <div class="col-12">
                            @Html.TextBoxFor(x => x.Class, new { @class = "form-control form-control-sm" })
                            @Html.ValidationMessageFor(x => x.Class, "", new { @class = "text-danger", style = "font-size:x-small" })

                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        @Html.LabelFor(x => x.Section, new { @class = "col-form-label col-form-label-sm " })
                        <div class="col-12">
                            @Html.TextBoxFor(x => x.Section, new { @class = "form-control form-control-sm" })
                            @Html.ValidationMessageFor(x => x.Section, "", new { @class = "text-danger", style = "font-size:x-small" })
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <div class="col-12">
                            <div class="d-inline  d-grid">
                                <button type="submit" class="btn btn-primary btn-sm mb-1">Save</button>
                                <a href="@Url.Action("Index", "Students")" class="btn btn-secondary btn-sm ">Back to</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section styles{
    <link href="~/Content/bootstrap-datepicker.standalone.css" rel="stylesheet" />
}
@section scripts
    {
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script>
        $("#Date").datepicker({
            format: "yyyy-mm-dd"
        })
    </script>
}


